# Compiled class files
*.class

# Build folders
target/
out/
build/
dist/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Temporary files created by OS or IDE
*.swp
*.swo
*.bak
*.orig
.DS_Store
/CCountLines/count_lines_in_files
